<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Host" value="any"/>
    <!--IP或HOST  any表示绑定所有本地IP-->
    <add key="Port" value="9562"/>
    <!--端口-->
    <add key="MaxBufferSize" value="1024"/>
    <!--数据包最大缓冲区-->
    <add key="MaxConnectCout" value="20000"/>
    <!--最大连接数，按实际情况而设，太大内存占用太多，太小连接不够用 默认5000，最大可以设置 10万-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
